
  body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
  }

 /* reset */

  ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }
 
 /* common */

  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }

    img {
      display: block;
    }
  
    button {
      cursor: pointer;
    }

    .visually-hidden {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          border: 0;
          padding: 0;
    
          white-space: nowrap;
          clip-path: inset(100%);
          clip: rect(0 0 0 0);
          overflow: hidden;
        }

  /* ============== / header /================== */

  .page-header {
    border-bottom: 1px solid #e7e9fc;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 76px;
  }

  .header-logo .logo-part {
        color: #2e2f42;
  }

  .footer-logo .logo-part {
        color: #f4f4fd;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
  }

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

  .contacts {
    font-style: normal;
    margin-left: auto;
  }

  .contacts-link {
    display: block;
    padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
  }

  .nav-link:hover,
  .nav-link:focus ,
  .contacts-link:hover ,
  .contacts-link:focus {
        color: #404bbf;
  }

  /* ========= /MAIN/ ======== */

  /* ========= /SOLUTION TITLE SECTION/ ========== */

  .solutions-section {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    background: #2e2f42;
  }

  .solution-container {
    padding-top: 188px;
    padding-bottom: 292px;
    padding-left: 472px;
    padding-right: 472px;
  }

  .main-title {
    width: 496px 120px;
    font-weight: 700;
      font-size: 56px;
      line-height: 1.07;
      letter-spacing: 0.02em;
      text-align: center;
      justify-content: center;
      align-items: center;
      color: #fff;
    margin-bottom: 48px;
  }


  .order-service-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
            background: #4d5ae5;
            cursor: pointer;
            display: block;
            min-width: 169px;
            padding: 16px 32px;
            border-radius: 4px;
            border: 0;
            margin: 0 auto;
  }

  .order-service-btn:hover ,
  .order-service-btn:focus {
            background: #404bbf;
  }

  /* ======== /features/ ========= */

  .features-section {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .features-container {
    max-width: 1128px;
  }

  .features-list {
    display: flex;
    column-gap: 24px;
  }

  .features-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }


.features-list-title {
  margin-bottom: 8px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.features-list-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* ======== /OUR TEAM/ ======= */

.team-section {
    background: #f4f4fd;
}

.team-list-person {
    background-color: #FFFFFF;
}

.team-container {
  max-width: 1440px;
  height: 732px;
  
}

.section-title {
  padding-top: 120px;
  padding-bottom: 72px;
  padding-left: auto;
  padding-right: auto;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  justify-content: center;
  
}

.team-list-person {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
}

list-name-container {
  width: 232px;
    height: 56px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
}

.team-list-name {
  text-align: center;
  padding-top: 0;
  padding-bottom: 8px;
  padding-left: 49px;
  padding-right: 49px;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-list-position {
  text-align: center;
  white-space: nowrap;
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 0;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team-list-img {
  margin-bottom: 32px;
}

/* ========== /portfolio/ ========= */

.portfolio-list {
    background-color: #FFFFFF;
}

.portfolio-section-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.portfolio-list-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-list-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* ========== /footer/ ========= */

.page-footer {
    background: #2e2f42;
}

.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}